CUBEJS_DB_TYPE=snowflake
CUBEJS_DB_NAME=METRICMIND_DB
CUBEJS_DB_SCHEMA=PUBLIC
CUBEJS_DB_USER=YOUR_SNOWFLAKE_USERNAME
CUBEJS_DB_PASS=YOUR_SNOWFLAKE_PASSWORD
CUBEJS_DB_SNOWFLAKE_ACCOUNT=YOUR_ACCOUNT_IDENTIFIER
CUBEJS_DB_SNOWFLAKE_WAREHOUSE=COMPUTE_WH
CUBEJS_DB_SNOWFLAKE_ROLE=ACCOUNTADMIN
CUBEJS_DEV_MODE=true